* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #f3f3f3;
}

html, body, input, select, textarea, button {
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
}

nav {    
    color: white;

}
.top-header {
    position: sticky;
    top: 0;
    background-color: #3e7afa;
    border-bottom: 2px solid #3367d6;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.25em;
    font-weight: 700;
    padding: .75em 0;
}
.back-toggle {
    margin-right: 1em;
}

.back-toggle a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.2em;
}

.post {
    padding: 1em;
    box-shadow: 0 0 0.25em rgba(0,0,0,0.35);
    border-radius: .25em;
    margin: 1em 0;
    background-color: white;
}

.post-title {
    margin-bottom: .25em;
    font-size: 1.25em;
}

.post-body {
    margin-bottom: .5em;
}

.post-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: .25em .75em;
    background-color: #efefef;
    color: #333;
    border-radius: .25em;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
}

.post-link span {
    margin-right: .25em;
}

.post-footer {
    display: flex;
    align-items: center;
}
.post-footer #user {
    margin-right: 1em;
}

.post-show-comments {
    background-color: #3e7afa;
    color: white;
    border: 2px solid #3367d6;
    padding: .25em .75em;
}

.searchbox {
    padding: 0 0 1em;
}

.searchbox input[type=search] {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: .75em;
    border-radius: .25em;
    border: 2px solid #efefef;
}

.comments {
    background-color: white;
    border-radius: .25em;
    margin-top: 1em;
}

.comment {
    border-bottom: 1px solid #efefef;
    padding: 1em;
    font-size: .85em;
}

.comment-user {
    font-weight: 700;
}